---
name: Reports
---

# Выгрузка системных журналов

Служебная функция, позволяющая выгрузить данные о состоянии работы устройства.


### Какие данные доступны

| N | Источник данных | Формат |
| ---- | -------- | ------------ |
| 1 | Системный журнал ОС | txt |
| 2 | Журнал ядра ОС | txt |
| 3 | Журнал событий устройства | txt |

### Как найти на устройстве

<img alt="reports example" width="600px" src="/static/reports_example.png" />